.calendar-title {
  display: none;
}
.calendar-sidebar {
  display: grid;
  display: -ms-grid;
  grid-template-columns: repeat(4, 24%);
  -ms-grid-columns: 25% 25% 25% 25%;
  grid-template-rows: repeat(1, 220px);
  -ms-grid-rows: 220px;
  justify-content: space-between;
  width: 100%;
  min-width: 222px;
}
.calendar-controls {
  display: grid;
  display: -ms-grid;
  grid-template-columns: repeat(2, 50%);
  -ms-grid-columns: 50% 50%;
  justify-content: space-between;
}
.year-text {
  font-size: 80px;
  font-family: "Vitesse A", "Vitesse B", serif;
  color: #002e5d;
}
.calendar-buttons {
  text-align: right;
  margin: 1rem .5rem 2rem .5rem;
  -ms-grid-column: 2;
}
.calendar-controls button {
  border: 1px solid #bebebe;
  border-radius: 20px;
  background: transparent;
  margin-right: 1rem;
}
.calendar-controls button i {
  border: solid #002e5d;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  margin: 1rem;
}
.calendar-controls button:disabled i {
  border-color: #bebebe;
}
.calendar-controls button i.next {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.calendar-controls button i.prev {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.calendar-next-btn {
  padding: 2px 4px 1px 1px;
  line-height: 1;
}
.calendar-prev-btn {
  padding: 2px 1px 1px 4px;
  line-height: 1;
}
.calendar-next-btn:focus,
.calendar-prev-btn:focus {
  outline: none;
}
.calendar-content {
  padding: 0;
}
.cal-month {
  background-color: #002e5d;
  font-size: 18px;
}
.holiday-color {
  color: #002e5d;
  border-color: #002e5d;
}
.calendar-months {
  display: grid;
  display: -ms-grid;
  grid-template-columns: repeat(3, 33%);
  -ms-grid-columns: 33% 33% 33%;
  grid-template-rows: repeat(2, 300px);
  -ms-grid-rows: 300px 300px;
  justify-content: space-between;
}
.calendar-month {
  margin: 0;
}
.calendar-month td.cal-month {
  padding: 3px;
}
.calendar-month-table {
  width: 100%;
}
.calendar-key {
  text-align: center;
}
#academic-calendar-btn {
  background-color: #002e5d;
  color: white;
  display: block;
  font-family: "Gotham A", "Gotham B", Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  line-height: 1;
  margin: 1rem auto;
  padding: 1.6rem;
  width: 158px;
  height: 64px;
}
.calendar-sidebar .sidebar-item:nth-child(2) {
    -ms-grid-column: 2;
}
.calendar-sidebar .sidebar-item:nth-child(3) {
    -ms-grid-column: 3;
}
.calendar-sidebar .sidebar-item:nth-child(4) {
    -ms-grid-column: 4;
}
.calendar-months .calendar-month:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}
.calendar-months .calendar-month:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
}
.calendar-months .calendar-month:nth-child(4) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}
.calendar-months .calendar-month:nth-child(5) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
}
.calendar-months .calendar-month:nth-child(6) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
}
.calendar-months .calendar-month:nth-child(7) {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
}
@media (min-width: 1824px) {
  .sidebar-item-table td {
    padding: 5px 0 5px 8px;
    font-size: 11px;
  }
}
@media (min-width: 1425px) {
    .divs-1 div {
        padding: 2px;
    }
}
@media (min-width: 1024px) and (max-width: 1823px) {
  .calendar-sidebar {
    grid-template-columns: repeat(2, 45%);
    -ms-grid-columns: 50% 50%;
    grid-template-rows: repeat(2, 200px);
    -ms-grid-rows: 200px 200px;
    justify-content: space-between;
    margin-bottom: 3rem;
  }
  .calendar-sidebar .sidebar-item:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .calendar-sidebar .sidebar-item:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  .key-item {
    margin-left: 15px;
  }
}
@media (min-width: 1224px) and (max-width: 1424px) {
  .key-item-table {
    font-size: 12px;
  }
  .cal-date {
    height: 30px;
  }
  .divs-1 div {
    line-height: 21px;
  }
  .divs-2 div {
    line-height: 25px;
    font-size: 12px;
    padding-left: 0;
  }
}
@media (min-width: 1024px) and (max-width: 1223px) {
  .calendar-months {
    grid-template-rows: repeat(2, 250px);
    -ms-grid-rows: 250px 250px;
  }
  .calendar-month td {
    padding: 0;
  }
  .calendar-key {
    text-align: left;
  }
  .key-item:first-of-type {
    margin-left: 0;
  }
  .key-item-title {
    font-size: 14px;
  }
  .key-item-table {
    font-size: 10px;
  }
  .divs-2 div,
  .divs-1 div {
    line-height: 22px;
    padding: 0;
    font-size: 12px;
  }
  .divs-2 div {
    font-size: 12px;
  }
  .cal-date {
    font-size: 12px;
    height: inherit;
  }
}
@media (max-width: 1023px) {
  #byu-academic-calendar,
  #byu-academic-calendar-key,
  .calendar-controls {
    display: none;
  }
  .calendar-sidebar {
    grid-template-columns: repeat(1, 50%);
    grid-template-rows: repeat(4, 175px);
    -ms-grid-columns: 50%;
    -ms-grid-rows: 175px 175px 175px 175px;
    justify-content: space-around;
  }
}
@media (max-width: 767px) {
  .calendar-sidebar {
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(4, 175px);
    -ms-grid-columns: 100%;
    -ms-grid-rows: 175px 175px 175px 175px;
  }
}
